
@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  margin: 0;
  font-family:Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: base;
}

#homeimage {
  background-image: url('https://images.unsplash.com/photo-1702802564238-50664a45bf63?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
}

#homebanner {
  background-image: url('./photos/homeplaceholder.jpg');
  background-repeat: no-repeat;
  background-size:auto;
  background-position: center;
}

#notfound {
  background-image: url('./photos/01.jpeg');
  background-repeat: no-repeat;
  background-size:auto;
  background-position: center;
}



