
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family:Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: base;
}

#homebanner {
  background-image: url('./photos/homeplaceholder.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}



